.container{
    margin-top: 15px;
    padding:10px;
    background-color: white;
    box-shadow: 0 1px 0 0 #acc9e15f,0 0 0 1px#E7E8EC;
    box-sizing: border-box;
    border-radius: 4px;
}


.friends{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}


.header{
    font-size: 12.5px;
    color: black;
    padding:4px 5px 13px 5px;
}
.counter{
    color:#939393;
    padding:0 5px;
}


.friend_item{
    width:33.33%;
    height: 72px;
    padding:5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.image{
    width:50px;
    border-radius: 50%;
}
.name{
    text-align: center;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12.5px;
    color:black;
}


