.nav {
	width: 157px;
	grid-area: n;
	margin-left: -9px;
	position: sticky;
	top:58px;
	height:max-content;
	border-radius: 2px;
}

.nav a {
	border-radius:4px;
	display: flex;
	height:30px;
	align-items: center;
	text-decoration:none;
	color:black;
	letter-spacing: 0.3px;
	font-size: 12.5px;
	padding-left: 9px;
	margin-left:-1px;
}

.icon {
	height: 20px;
	margin-right: 10px;
}

a:hover{
	background-color: #DCE1E6;
}
