.nav {
	grid-area: n;
	margin-left: -9px;
	position: sticky!important;
	top:58px!important;
	height:max-content;
}

.nav a {
	display: flex;
	position: relative;
	align-items: center;
	height: 28px;
	width: 158px;
	text-decoration: none;
	color:#3073b1;
	font-size: 12.5px;
	padding-left: 9px;
	font-weight: 400;
	box-sizing: border-box;
	border-radius: 5px;
	text-shadow: 0.05px 0.05px 0px #3073B1;
	letter-spacing: 0.3px;
}

a img {
	height: 25px;
	margin-bottom: 3px;
}



.active_link {
	background-color: white;
}