.nav {
	grid-area: n;
	margin-left: -9px;
	position: sticky!important;
	top:58px!important;
	height:max-content;
}

.nav a {
	display: flex;
	position: relative;
	align-items: center;
	text-decoration: none;
	color:#3073b1;
	font-size: 12.5px;
	padding-left: 9px;
	font-weight: 500;
	box-sizing: border-box;
	border-radius: 5px;
}

a img {
	height: 25px;
	margin-bottom: 3px;
}

.nav a:hover {
	background-color:#D9DEE9;
}

.active_link img{
	filter: brightness(88%) contrast(1.1);
}