

.container {
	border-radius: 4px;
	box-shadow: 0 1px 0 0 #d3d9de, 0 0 0 1px#E7E8EC;
	background-color: white;
	box-shadow: 0 1px 0 0 #acc9e15f, 0 0 0 1px#E7E8EC;
}

.info_wrapper {
	padding: 15px 20px;
	border-bottom: 1px solid #e7e8ec;
}



/* ?===== Блок с именем и статусом онлайна ===== */

.user_name {
	padding-bottom: 19px;
	border-bottom: 1px solid #E7E8EC;
}

.user_name p .status {
	float: right;
	font-size: 12.5px;
	font-weight: 400;
	color:#939393;
}
.status_wrapper{
	position: relative;
}

.user_name p:first-child {
	margin: 0;
	font-size: 19px;
	color: black;
	font-weight: 400;
	letter-spacing: 0.1px;
	line-height: 23px;
}

.user_name p:last-child {
	margin: 0;
	margin-top: 3px;
	font-size: 13px;
	color: black;
	font-weight: 400;
}



/*?===== Блок с информацией о городе, рождении и т.п =====*/

.about_user {
	padding-top: 8px;
}
.about_user p {
	display: inline-block;
	width: 165px;
	padding-top: 10px;
	margin: 0;
	font-size: 13px;
	color: #828eac;
}
.btn {
	padding: 0;
	display: inline-block;
	text-align: left;
	width: 345px !important;
	font-size: 13px;
	color: #2A5885;
	cursor: pointer;
}
.btn:hover {
	text-decoration: underline;
}
.more_button {
	padding-left: 165px;
	padding-top: 2px;
	text-align: left;
	margin-top: 10px;
	width: 510px;
	border-radius: 2px;
	font-size: 13px;
	height: 31px;
	border: none;
	outline: none;
	background: white;
	color: #2A5885;
	cursor: pointer;
}
.more_button:hover {
	background: #f0f2f5;
}



/*?===== Блок со статистикой ===== */

.user_stats {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.user_stats p {
	color: #2A5885;
	font-size: 19px;
	font-weight: 400;
	margin: 0;
	padding:16px 15px;
}
.user_stats p span {
	display: block;
	font-weight: 400;
	font-size: 13px;
	color: #828eac;
	margin-top: 5px;
}


