
.content{
    display:grid;
    grid-template-columns: 550px 230px;
    grid-gap: 15px;
    grid-template-areas: 
    "u s";
}

.users_wrapper{
    margin:15px 0;
    grid-area: u;
    padding:0 20px;
    background-color: white;
    width: 550px;
    height: max-content;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 1px 0 0 #acc9e15f,0 0 0 1px#E7E8EC;
    box-sizing: border-box;
}

.sidebar{
    grid-area: s;
    width: 230px;
    height:300px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #acc9e15f,0 0 0 1px#E7E8EC;
}


.activePage{
    background-color: #2787F5!important;
    color: white;
    border-radius: 50%;
}






.users_counter{
    display: flex;
    padding:0 20px;
    height: 55px;
    align-items: center;
    border-radius: 4px 4px 0px 0px ;
    background:white;
    color:black;
    font-size: 15px;
    font-weight: 400;
    box-shadow: 0 1px 0 0 #acc9e15f,0 0 0 1px#E7E8EC;
}
.count {
    font-size: 14px;
    color: #939393;
    margin-left: 13px;
}





.user_wrapper:first-child{
    border:none;
}
.user_wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 510px;
    height: 104px;
    border-top: 1px solid #E7E8EC;
    box-sizing: border-box;
    padding:12px 0;
}


.avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.information{
    display: flex;
    flex-direction: column;
    height:80px;
    box-sizing: border-box;
    padding-top:8px;
    align-self: flex-start;
    margin-left: 12px;
}
.information a{
    color: #2A5895;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-weight: 700;
}
.information a:hover{
    text-decoration: underline;
}
.information p{
    font-size: 13px;
    margin-bottom: 6px;
    color:#656565;
    white-space: nowrap;
    width:250px;
    overflow: hidden;
}
.information .message{
    font-size: 13px;
    color: #2A5895;
    white-space: nowrap;
    width:250px;
    overflow: hidden;
}
.information .message:hover{
    text-decoration: underline;
}


.follow {
    width:135px;
    right:0;
    margin-left: auto;
    padding:5px 0;
    background: #5181B8;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12.5px;
    align-self: flex-start;
    margin-top: 10px;    
}
.follow:disabled{
    opacity: 0.5;
    cursor:progress
}


.unfollow {
    width:135px;
    right:0;
    margin-left: auto;
    padding:5px 0;
    background: #E5EBF1;
    color:#55677D;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12.5px;
    align-self: flex-start;
    margin-top: 10px;
}
.unfollow:disabled{
    opacity: 0.5;
    cursor:progress
}









/* ? Пагинация _________________________________*/


.paginator{
    display: flex;
    width:100%;
    padding:10px 0;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 0 0 #acc9e15f;
}

.pageBtn{
    cursor: pointer;
    width:30px;
    height:30px;
    padding:5px;
    background: white;
}

.nextBtn {
    margin-left:5px;
    font-weight: bold;
    width:23px;
    height:23px;
    cursor: pointer;
    background: url(../../images/paginatorArrow.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.prevBtn {
    margin-right:5px;
    font-weight: bold;
    width:23px;
    height:23px;
    cursor: pointer;
    background: url(../../images/paginatorArrow.png);
    transform: rotate(-180deg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

