.groups_wrapper {
    display: flex;
    flex-direction: column;
    width:550px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    padding:15px 20px;
    height:1200px;
}
.element{
    display: flex;
    align-items:center;
    height:80px;
    flex-direction: row ;
    border-bottom: 1px solid #E7E8EC;
    padding:15px 0;
}
.element:last-child{
    border-bottom:none;
}





.element img{
    height:100%;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
    border-radius: 50%;
}
.groups_wrapper a {
    margin:0;
    font-size: 13px;
    font-weight: 700;
    color:#3762B8;
    text-decoration: none;
}
.groups_wrapper a:hover{
    text-decoration: underline;
}
.groups_wrapper p {
    margin-top:5px;
    font-size:13px ;
    font-weight: 400;
}