


.wrapper{
    border-radius: 4px;
    overflow: hidden;
    border-bottom: 1px solid #E7E8EC;
    width: max-content;
}

.joinBox{
    width:max-content;
    text-align: center;
    background-color: white;
    border-radius: 6px;
    padding:25px;
}

.h1{
   color:black;
   font-size:20px; 
}

.h3{
    padding: 7px 0px 25px;
    color:#818C99;
    font-size:12px;
}

.form {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 15px;
    flex-direction: column;
}

.field_login{
    width:270px;
    box-sizing: border-box;
    outline: none;
    border:1px solid #D3D9DE;
    padding:6px 12px 8px;
    border-radius: 3px;
}

.submit_btn{
    width:100px;
    height:35px;
    border-radius: 4px;
    background:url(../../images/backgroundVk.png);
    background-size: 320%;
    background-position: left top;
    transition: 2s ease-in-out ;
    color:white;
    font-size: 14px;
    padding:7px 16px 8px;
    font-weight: 500;
    letter-spacing: 0.3px;
}
.submit_btn:hover{
    background-position: right bottom;
    cursor: pointer;
    background-color: #2787F5;
}


.checkbox{
    color:black;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.buttons_wrapper{
    display: flex;
    flex-direction: row;
    width:270px;
    justify-content: space-between;
}