
.formControl{
    width:100%;
    display: flex;
    position: relative;
}
.formControl.error input,
.formControl.error textarea{
    box-sizing: border-box;
    border:1px solid rgb(192, 25, 25);
}

.formControl textarea::-webkit-scrollbar{
    display: none;
}

.span{
    display: flex;
    align-items: center;
    position: absolute;
    top:-36px;
    width: max-content;
    box-sizing: border-box;
    padding:10px 15px;
    height:30px;
    font-size: 12.5px;
    color:white;
    border-radius: 2px;
    background-color: rgb(225, 108, 108);
    box-shadow: 0px 0px 30px rgba(114, 11, 11, 0.354);
    animation: animka  0.2s ease-in;
}

@keyframes animka {
    0%{
        top:-25px;
        opacity: 0.1;
    }

    100%{
        top:-36px;
        opacity: 1;
    }
}