
.avatar_wrapper{
    display: flex;
    flex-flow: column;
    padding:15px 15px 6px 15px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 0 0 #acc9e15f,0 0 0 1px#E7E8EC;
    position: sticky;
    top:0;
}
.image{
    max-height: 230px ;
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
}






.buttons_container{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}
.button{
    cursor: pointer;
    color: #55677D;
    background:#E5EBF1;
    border-radius:4px;
    line-height: 30px;
    text-align:center;
    width:100%;
    letter-spacing: -0.3px;
    font-size: 13px;
    height:30px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding:0 15px;
    cursor: pointer;
}
.button:hover{
   color: #6A798D;
}
.button:active{
   line-height: 1.2;
   background:#DAE2EA;
   color: #55677D;
}



.secondary_button{
    width:230px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding:0 19px;
    margin-left: -15px;
    height: 36px;
    line-height: 36px;
    font-size: 13px;
    color:#717A85;
}
.icon{
    opacity: .75;
    margin-right: 13px;
} 

.secondary_button:hover .icon{
    opacity: 1;
}
.secondary_button:hover {
    background:#F5F6F8;
}