
.avatar_wrapper{
    display: flex;
    flex-flow: column;
    padding:15px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 0 0 #acc9e15f,0 0 0 1px#E7E8EC;
    position: sticky;
    top:0;
}
.image{
    max-height: 230px ;
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
}




/* Это контейнер с кнопками */

.buttons_container{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
}
.button{
    border: none;
    outline: none;
    cursor: pointer;
    color: #748199;;
    background:#E5EBF1;
    border-radius:4px;

}
.button:first-child{
    line-height: 30px;
    text-align:center;
    align-self: flex-start;
    width:157px;
    font-size: 13px;
    height:30px;
    padding:0 15px;
    border: none;
    outline: none;
    cursor: pointer;
}
.button:last-child {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    width:36px;
    height: 30px;
    border-radius: 4px;
}

.button:active{
   line-height: 1.2;
}

