.sticky {
	/* position: sticky;
	top: 63px; */
	height: max-content;
}

.nav {
	width: 157px;
	grid-area: n;
	margin-left: -9px;
	border-radius: 2px;
}

.nav a {
	border-radius: 4px;
	display: flex;
	height: 30px;
	line-height:30px ;
	align-items: center;
	text-decoration: none;
	color: black;
	letter-spacing: 0.3px;
	font-size: 12.5px;
	padding-left: 9px;
	margin-left: -1px;
}

.icon {
	height: 20px;
	margin-right: 10px;
	fill:#5181b8;
}

.nav_item:hover {
	background-color: #E5E7EB;
}


.more_wrapper{
	display: flex;
	flex-wrap: wrap;
	border-top:1px solid #DCE1E6;
	padding:16px 0px 4px 0px;
	margin-top: 15px;
	margin-right: 16px;
}
.more{
	font-size: 11.3px;
	color: #939393;
	padding-right: 12px;

}