
.avatar_wrapper{
    display: flex;
    flex-flow: column;
    padding:15px 15px 6px 15px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 0 0 #acc9e15f,0 0 0 1px#E7E8EC;
}



.button{
    cursor: pointer;
    color: #55677D;
    background:#E5EBF1;
    border-radius:4px;
    line-height: 30px;
    text-align:center;
    width:100%;
    letter-spacing: -0.3px;
    font-size: 13px;
    height:30px;
    margin-top: 12px;
    padding:0 15px;
    cursor: pointer;
}
.button:hover{
   color: #6A798D;
}
.button:active{
   line-height: 1.2;
   background:#DAE2EA;
   color: #55677D;
}



.secondary_button{
    line-height: 36px;
    margin:0 -15px;
    padding:0 15px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    height: 36px;
    font-size: 13px;
    color:#717A85;
}

.icon{
    opacity: .95;
    width:24px;
    padding:2.1px 2.5px;
    height:24px;
    box-sizing: border-box;
    margin-right: 11px;
} 

.secondary_button:hover .icon{
    opacity: 1;
}
.secondary_button:hover {
    background:#F5F6F8;
}











.imageWrapper{
    position: relative;
    overflow: hidden;
}

.imageWrapper:hover .hoverTab{
    transform: translateY(0);
    opacity: 1;
}

.image{
    display: block;
    width:200px;
    object-fit:cover;
    object-position: center;
    border-radius: 2px;
}

.hoverTab{
    position: absolute;
    transform: translateY(50%);
    opacity: 0;
    bottom:0;
    left:0;
    right:0;
    padding:5px 10px;
    background-color: rgba(0, 0, 0, 0.341);
    color:white;
    transition: 200ms ease-in-out;
}


.label{
    display: block;
    cursor: pointer;
    width:100%;
    font-size: 12.5px;
    color:#D0D1D2;
    padding:5px 0;
}

.label:hover{
    cursor: pointer;
    font-size: 12.5px;
    color:white;
}
.label:hover .iconForBtn{
    opacity: 1;
}

.input{
    display:none;
}
.iconForBtn{
    opacity: 0.7;
    margin-right: 7px;
}