.header {
  grid-area: h;
  display: grid;
  grid-template-columns:161px 245px 48px 48px 1fr;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 5;
}

.header .logo {
  margin-left: -3px;
  margin-bottom: 1px;
}

.link{
  color:black;
  font-size:13px;
  text-decoration: none;
}

.search{
  width:230px!important;
  height:32px;
  margin:0;
  padding:0;
  box-sizing: border-box;
  border:none;
  background: url(../../images/searchBack.svg) no-repeat 10px;
  background-color: #EDEEF0;
  outline: none;
  border-radius: 8px;
  padding-left: 34px;
}


.notify_btn{
  height: 48px;
  background:url(../../images/bell.svg) no-repeat center;
  transition: .2s;
}
.notify_btn:hover{
  background-color: #F5F6F8;
  cursor: pointer;
}

.music_btn{
  height: 48px;
  background:url(../../images/musicBtn.svg) no-repeat center;
  transition: .2s;
}
.music_btn:hover{
  background-color: #F5F6F8;
  cursor: pointer;
}

.moreBtn{
  cursor: pointer;
}
















.loginBlock{
  display: inline-flex;
  justify-self: flex-end;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  color:black;
  font-size: 13px;
}
.info .name{
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}
.info .image{
  height:32px;
  border-radius: 50%;
}
.info .moreBtn{
  width:26px;
}














