.container {
	border-radius: 10px;
	box-shadow: 0 1px 0 0 #d3d9de, 0 0 0 1px#E7E8EC;
	background-color: white;
	box-shadow: 0 1px 0 0 #acc9e15f, 0 0 0 1px#E7E8EC;
}

.info_wrapper {
	padding: 15px 20px;
	border-bottom: 1px solid #e7e8ec;
}
.info_wrapper .user_name {
	padding-bottom: 15px;
	border-bottom: 1px solid #e7e8ec;
}
.info_wrapper .user_name p .status {
	float: right;
	font-size: 12.5px;
	font-weight: 600;
	color:rgb(204, 204, 204);
}

.info_wrapper .user_name p:first-child {
	margin: 0;
	font-size: 19px;
	color: black;
	font-weight: 500;
	letter-spacing: 0.1px;
	line-height: 23px;
}
.info_wrapper .user_name p:last-child {
	margin: 0;
	margin-top: 3px;
	font-size: 13px;
	color: black;
	font-weight: 400;
}

/* Блок с информацией о городе, рождении и т.п */

.about_user {
	padding-top: 10px;
}
.about_user p {
	display: inline-block;
	width: 165px;
	padding-top: 10px;
	margin: 0;
	font-size: 13px;
	color: #828eac;
}
.about_user a {
	display: inline-block;
	width: 345px !important;
	font-size: 13px;
	color: #3a74d3;
	cursor: pointer;
}
.about_user a:hover {
	text-decoration: underline;
}
.more_button {
	margin-top: 10px;
	width: 510px;
	border-radius: 5px;
	font-size: 13px;
	height: 34px;
	border: none;
	outline: none;
	background: white;
	color: #3a5688;
	cursor: pointer;
	letter-spacing: 0.3px;
}
.more_button:hover {
	background: #f0f2f5;
}

/* Блок со статистикой  */

.user_stats {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.user_stats p {
	color: #3b72cc;
	font-size: 19px;
	font-weight: 500;
	margin: 0;
	padding: 15px;
}
.user_stats p span {
	display: block;
	font-weight: 400;
	font-size: 13px;
	color: #828eac;
	margin-top: 5px;
}

/* _____________________ */
