.container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    left:0;
    top:48px;
    right:0;
    bottom:0;
    background:url("../../images/404/background.svg");
    background-size: contain;
}

.contentBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}
.image{
    width:550px;
    
}