

.dialog a{
    display: inline-flex;
    height: 45px;
    padding:10px 15px;
    display: flex;
    text-decoration: none;
}

.dialog img{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition: .3s;
    margin:0;
}
.about {
    margin: 5px 0px 0px 15px;
    color:black;
    font-weight: 500;
    font-size: 13px;
}

.active {
    background-color: #EBEBEB;
}