
.dialogs_messages_wrapper{
    width:795px;
    display:grid;
    grid-template-columns: 230px 550px;
    box-shadow: none;
    height:2000px;
    grid-gap:15px;
}




.search{
    
}
.dialog_items{
    background-color: white;
    height: max-content;
    border-radius: 10px;
    box-shadow: 0px 20px 10px -15px rgba(0, 0, 0, 0.178);
}
.dialog a{
    display: flex;
    width:230px;
    box-sizing: border-box;
    padding:10px 20px 10px 20px;
    text-decoration: none;
    transition: .15s;
}
.dialog img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.about {
    padding: 0px 0px 0px 14px;
    color:black;
    font-weight: 500;
    font-size: 13px;
}





.messages_wrapper{
    position: sticky;
    top:58px;
    padding:15px;
    background-color:white;
    height:max-content;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #D3D9DE,0 0 0 1px#E7E8EC;
}







.active {
    transform:translateX(-14px);
    box-sizing: border-box;
    box-shadow: 10px 0px 20px -10px rgba(0, 0, 0, 0.152);
}