.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding:6px 28px 7px;
    margin:0px 4px 4px;
}
.container:hover{
    background-color: #F0F2F5;
}

.name_message_wrapper{
    margin: 0px 11px;
}

.image{
    border-radius: 50%;
    height:36px;
}
.name{
    font-weight: 600;
    color:#2A5885;
    margin-bottom: 3px;
}
.date{
    color:#939393;
    font-weight: 400;
    margin-left: 6px;
}
.message{
    display: block;
    line-height: 19px;
}


